<% if user_signed_in? %>
<p>
  <%= render 'shared/user_info' %>
  </p>
<p>
<%= render 'shared/review_form' %>
</p>

<h2><u> SEND MESSAGES</u> </h2>
<%= simple_form_for [@user ,Message.new] do |f| %>
  <div class="field">
    <h3> <u>Email id of the receiver</u></h3>
    <%= f.text_area :emailid, placeholder: " Give Email id" ,:cols => "30", :rows => "5" %><br>
    <h3> <u> Message </u></h3>
    <%= f.text_area :content, placeholder: "Compose new message..."  , :cols => "50", :rows => "10"%><br>
  </div>
  <br>
  <%= f.submit "Send", class: "btn btn-large btn-primary" %>
<% end %>

<h2><u> SENT MESSAGES </u></h2>
<% @messages.each do |f| %>
<% if f.sender_id == current_user.id %>
 <%= f.content %><br>
 <% @receiver = User.find_by_id(f.receiver_id) %>
 <p>Sent to &nbsp; <%= @receiver.email %> </p><br>
  <%= link_to "delete the message",user_message_path(@user,f), method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: f.content %><hr>
 <% end %>
 <% end %>
<hr>
 <p><%= link_to "visit your profile",user_path(current_user) %></p><hr>
 <h2><u> Your Reviews (<%= @reviews.count %>)</u></h2>

   <% if @reviews.count > 0 %>
<h1><% @reviews.each do |f| %></h1>
<p><u><%= f.rest_name %></u>
</p>
<p><%= f.content %>
</p>

   <p><%= pluralize(f.upvotes.count, "vote") %></p>
  <%= link_to "delete the review",f, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: f.content %><hr>
  <% end %>
<% end %> 

      <h2><u> TOP REVIEWERS</u> </h2>
      <% @users=User.all %>
      <% @sortusers=@users.sort {|x,y| y.reviews.count <=> x.reviews.count} %>
      <p><% @sortusers.each do |f| %>
       <%= f.email %> &nbsp; &nbsp; <%= f.reviews.count %> Reviews
       <p><%= link_to "visit profile",user_path(f) %></p><hr>
       </p>
       <% end %>

       <h2><u>SEARCH FOR REVIEWS</u></h2>

<%= form_tag(root_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Reviews" %>
<%= submit_tag "Search" %>
<% end %>

 <% if @reviewsearch.present? %>
   <h1><u> Top Restaurants based on your search </u></h1>
 <% @reviewsearchs = @reviewsearch.sort { |x,y| y.upvotes.count <=> x.upvotes.count} %>
  <% @reviewsearchs.each do |f| %>
   <h2><u><%= f.rest_name %></u></h2>
   <p><%= f.content %></p>
   <p><%= pluralize(f.upvotes.count, "vote") %></p>
    <p><%= button_to 'upvote this review', upvote_review_path(f), method: :post %></p><br>
    <p> to comment/know more about this <%= link_to " click here" , review_path(f) %> </p><hr>
   <% end %>

<% else %>
  <p>There are no posts containing the term(s) <%= params[:search] %>.</p><br>
<% end %>
    <%= link_to('Edit registration', edit_user_registration_path) %><br>
    <br>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %><br>         
  <% else %>
  <br>
  <%= link_to('Login', new_user_session_path)  %><br>  
  <% end %>
  <br>
<%= link_to "Sign up!!" ,new_user_registration_path %><br>
