<h2><u> Profile of &nbsp; <%= @user.email %> !!!</u></h2>
<%= link_to "home" , root_url %>
<p><%= @user.follow_count %> following</p>
<p><%= @user.followers_count %> followers</p>
<br>
<h2><u> Bookmarks (<%=@bookmarks.count %>)</u></h2>
<% @bookmarks.each do |f| %>
<% if f.review_id %>
<% @page=Review.find_by_id(f.review_id) %>
<%= link_to "#{@page.rest_name}" ,review_path(@page) %><hr>
<% end %>
<% end %>
<h2><u> Followers (<%= @user.followers_count %>)</u></h2>
<button> show/hide followers</button>
<br>
<br>
<div class="common">
<% @users.each do |f| %>
<%= f.email %>
 <p><%= link_to "visit profile",user_path(f) %></p><hr>
<% end %>
</div>
<h2><u>Reviews (<%= @user.reviews.count %>)</u></h2>
<p><%= render 'shared/review' %></p>
<br>
<% if current_user.following?(@user) %>
<%= button_to "unfollow" , unfollow_user_path(@user) %>
<% else %>
<%= button_to "follow" , follow_user_path(@user) %>
<% end %>

