<% if @reviews.count > 0 %>
<h1><% @reviews.each do |f| %></h1>
<p><u><%= f.rest_name %></u>
</p>
<p><%= f.content %>
</p>

   <p><%= pluralize(f.upvotes.count, "vote") %></p>
	  <p><%= button_to 'upvote this review', upvote_review_path(f), method: :post %></p><br>
  <p> to comment/know more about this <%= link_to " click here" , review_path(f) %> </p>
<% if current_user == @user %>
 <%= link_to "delete the review", f, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: f.content %>
   <hr>
<% end %> 
<% end %>
<% end %>
 