
<%= link_to "home",root_path %>
<h1><%= @review.rest_name %></h1>
<p><%= @review.content %></p>
<p><%= button_to 'bookmark this review', bookmark_review_path(@review), method: :post %></p><br>

<br><br>
<%= simple_form_for [@review, Comment.new]  do |f| %>
 <%= f.text_area :content, class: "form-control" %><br><br>
  <%= f.submit "Add Comment", class: "btn btn-primary" %>
<% end %>
<br><br>
<h2><u>COMMENTS</u></h2>
<br><br>
<% @comments.each do |f| %>
	<%= f.content %><br><br>
	Posted <%= time_ago_in_words(f.created_at) %> ago.
	 <p><%= pluralize(f.commentvotes.count, "vote") %></p>
    <p><%= button_to 'upvote this comment', upvote_review_comment_path(@review,f), method: :post %></p><br>
	<br><hr>
	<% end %>
