<!DOCTYPE html>
<html>
<head>
  <title>Zomatoclone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:powderblue">
<h1><marquee> WELCOME TO THE SAMPLE ZOMATO APP</marquee></h1>
 <!--
  <div class="center">
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  </div>
-->
<%= yield %>

</body>
</html>
